{% extends 'base.html' %}
{%block content%}
  <h1> Post </h1>
  {% for post in object_list %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'article-detail' post.pk %}"><h5 class="card-title">{{post.title}}</h5></a>
          <p class="card-text">{{post.body|slice:":200"|safe}}</p>
          <p class="card-text"><small class="text-muted"> By  {{post.author}}- {{post.post_date}} </small></p>
        </div>
      </div>
    </div>
   <!-- <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'article-detail' post.pk %}"><h5 class="card-title">{{post.title}}</h5></a>
          <p class="card-text">{{post.body|slice:":200"}}</p>
          <p class="card-text"><small class="text-muted"> By  {{post.author}}- {{post.post_date}} </small></p>
        </div>
      </div>
    </div>-->
  </div>
  {%endfor%}
{% endblock %}